@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');
@import 'variables';

$font-family: 'Barlow Semi Condensed', sans-serif;

body {
  font-family: $font-family;
}
.attribution {
  font-size: 11px;
  text-align: center;
  display: block;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
