@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');
@import 'variables';
@import 'reset';

$font-family: 'Barlow Semi Condensed', sans-serif;

html {
  font-size: 62.5%; //1rem = 10px
  @include respond(phone) {
    font-size: 50%; //1rem = 8px
  }
  @include respond(tab-land) {
    font-size: 50%; //1rem = 8px
  }
  @include respond(tab-port) {
    font-size: 56.25%; //1rem = 9px
  }
  @include respond(big-desktop) {
    font-size: 75%; //1rem = 12px
  }
}

body {
  font-family: $font-family;
  font-size: 1.3rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
  display: block;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
