@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');
@import 'variables';
@import 'reset';

$font-family: 'Barlow Semi Condensed', sans-serif;

html {
  font-size: 62.5%; //1rem = 10px
  @include respond(phone) {
    font-size: 50%; //1rem = 8px
  }
  @include respond(tab-land) {
    font-size: 50%; //1rem = 8px
  }
  @include respond(tab-port) {
    font-size: 56.25%; //1rem = 9px
  }
  @include respond(big-desktop) {
    font-size: 56.25%; //1rem = 9px
  }
}

body {
  font-family: $font-family;
  font-size: 1.3rem;
  background-color: $lightGrayishBlue;

  @include respond(tab-port) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.testimonial-container {
  width: 90%;
  margin: auto;
  margin-bottom: 2rem;
  border-radius: 8px;
  padding: 3rem 2rem;
  color: $lightGray;

  @include respond(tab-port) {
    margin: 0;
    padding: 3rem;
    width: 100%;
  }

  h2 {
    margin-bottom: 2rem;

    @include respond(tab-port) {
      font-size: 2.2rem;
      line-height: 1.2;
    }
  }
}

.grid {
  margin-top: 8rem;
  margin-bottom: 4rem;
  @include respond(tab-port) {
    max-width: 1100px;
    display: grid;
    grid-template-rows: repeat(2, 300px);
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
  }
}
.container {
  &--one {
    background: url(/images/bg-pattern-quotation.svg) no-repeat;
    background-position: 80% 0;
    background-color: $moderateViolet;
    @include respond(tab-port) {
      grid-column: 1/3;
      grid-row: 1;
    }
  }
  &--two {
    background-color: $veryDarkGrayishBlue;
    @include respond(tab-port) {
      grid-column: 3/4;
      grid-row: 1/2;
    }
  }
  &--three {
    background-color: $white;
    @include respond(tab-port) {
      grid-column: 1;
      grid-row: 2;
    }
  }
  &--five {
    background-color: $white;
    @include respond(tab-port) {
      grid-column: 4/-1;
      grid-row: 1/3;
    }
  }
  &--dark {
    background-color: $veryDarkBlackishBlue;
    @include respond(tab-port) {
      grid-column: 2/4;
      grid-row: 2;
    }
  }
}

.user {
  display: flex;
  margin-bottom: 2rem;

  img {
    width: 40px;
    border-radius: 50%;
    margin-right: 2rem;
  }

  &__name {
    font-weight: 700;
    color: $lightGrayishBlue;
  }

  &__name-dark {
    font-weight: 700;
    color: $veryDarkGrayishBlue;
  }

  &__type {
    color: $lightGrayishBlue;
    opacity: 50%;
  }

  &__type-dark {
    color: $veryDarkGrayishBlue;
    opacity: 50%;
  }

  &__circle {
    border: 2px solid hsl(264, 27%, 61%);
  }
}

.testimonial {
  color: $lightGrayishBlue;
  opacity: 70%;
  @include respond(tab-port) {
    font-size: 1.5rem;
  }
}

.testimonial-dark {
  color: $veryDarkGrayishBlue;
  opacity: 70%;
  @include respond(tab-port) {
    font-size: 1.5rem;
  }
}

.dark-headline {
  color: $veryDarkBlackishBlue;
}

.light-headline {
  color: $lightGrayishBlue;
}

.attribution {
  font-size: 11px;
  text-align: center;
  display: block;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
